{% extends "layouts/base.html" %}

{% block title %}Records{% endblock title %}Records

{% block content %}
    {% if messages %}
        <div class="messages-container">
            <ul id='showMe' class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="container-add-new">
        <button class="add-new_button" onclick="openModal('modalRecord')">➕ Add New Record</button>   
    </div>
    <div class="ag-format-container">
        {% for record in records %}
            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <p class="ag-courses-item_category">{{record.fk_id_category.title}}<p>
                    <div class="ag-courses-item_title">
                        {{record.note}}
                    </div>

                    <div class="ag-courses-amount">
                        {% if record.fk_id_category.fk_id_type.name == 'EXPENSE' %}
                            <p class="ag-courses-amount_expense">- $ {{record.mount}}</p>
                        {% else %}
                            <p class="ag-courses-amount_income">+ $ {{record.mount}}</p>
                        {% endif %}
                    </div>

            
                    <div class="ag-courses-item_date-box">
                        Type:
                        <span class="ag-courses-item_date">
                            {{record.fk_id_category.fk_id_type.name}}
                        </span>
                    </div>
                    <div class="ag-courses-actions">
                        <form class="ag-courses-action-buttons-category_form" action="{% url 'delete_record' record.id %}" method="POST">
                            {% csrf_token %}
                            <button class="ag-courses-actions-buttons_delete">❌</button>
                        </form>
                        <form class="ag-courses-action-buttons-category_form" action="{% url 'update_record' record.id %}" method="GET">
                            {% csrf_token %}
                            <button class="ag-courses-action-buttons_category ag-courses-actions_update">📘</button>
                        </form>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div id="modalRecord" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalRecord')">&times;</span>
            <form class="record-form" method="POST">
                {% csrf_token %}
                <label for="mount" class="form-label">Mount:</label>
                {{ form.mount }}
                <label for="note" class="form-label">Note:</label>
                {{ form.note }}
                <label for="fk_id_category" class="form-label">Category:</label>
                {{ form.fk_id_category }}
                <button class="form-button" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}



{% comment %} <ul>
    <li>{{record.mount}}</li>
    <li>{{record.note}}</li>
    <li>{{record.register_date}}</li>
    <li>{{record.fk_id_category}}</li>
    <li>{{record.fk_id_type}}</li>
</ul> {% endcomment %}
